input{
  width: 100%;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label{
  font-size: 20px;
  color: black;
  margin-top: 10px;
  font:bold
}
input{
  padding: 15px;
  outline: none;
  margin: 5px;
  color: purple;
}
button{
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
}
button:hover{
  background-color: lightseagreen;
  color: white;
}